<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WrestleMINUS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <WrestleMINUS.My.MySettings>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExeLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="BitWidthIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MiscModeIndex" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ShowModeIndex" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="TexConvPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RADVideoToolPath" serializeAs="String">
                <value />
            </setting>
            <setting name="StringObject" serializeAs="String">
                <value />
            </setting>
            <setting name="PacNumObject" serializeAs="String">
                <value />
            </setting>
            <setting name="UnrrbpePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LoadHomeOnLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupInjections" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HexViewLength" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DeleteTempBMP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseTreeIcons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DDSexeLocation" serializeAs="String">
                <value>Not Installed</value>
            </setting>
            <setting name="UseDetailedFileNames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BypassOODLWarn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OODLCompressionLevel" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="BPEExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DecompresstoFolder" serializeAs="String">
                <value>True</value>
            </setting>
        </WrestleMINUS.My.MySettings>
    </userSettings>
</configuration>
